@import './../../styles/styles.scss';

.loader-s {
    width: 24px;
    height: 24px;
}

.loader-m {
    width: 48px;
    height: 48px;
}

.loader-l {
    width: 60px;
    height: 60px;
}

.loader-wheel {
    margin: calc(100% / 6) calc(100% / 6);
    width: calc(100% / 3 * 2);
    height: calc(100% / 3 * 2);
    border-radius: 50%;
    border: 3px solid $loader-bg;
    border-bottom-color: transparent;
    transform: rotate(-58deg);
    animation: rotation 1s linear infinite;

    &.loader-wheel-s {
        border-width: 2px;
    }

    &.loader-wheel-m {
        border-width: 4px;
    }

    &.loader-wheel-l {
        border-width: 5px;
    }
}

@keyframes rotation {
    0% {
        transform: rotate(-58deg);
    }

    100% {
        transform: rotate(302deg);
    }
}