@import './../../styles/styles.scss';

.main-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
    margin: 0 auto;
}

.products-title-container {
    display: flex;
    flex-direction: column;
    margin-top: 190px;
    margin-bottom: 48px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: $space-m;
}

.text-input-wrap {
    display: inline-flex;
    width: 100%;
}

.text-input-container {
    white-space: nowrap;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 52px;
    gap: $space-m;
}

.main-input-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: $space-m;
    width: 100%;
}

.categories-dropdown {
    width: 368px;
}

.grid-item {
    display: flex;
}

.products-grid {
    width: 100%;
    margin-top: $space-xl;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
    column-gap: 30px;
    row-gap: 30px;
}

:global(.infinite-scroll-component__outerdiv) {
    width: 100%;
}

.horizontal-line {
    margin-top: 8px;
    width: 100%;
    height: 8px;
    border-top: 2px solid $brand;
}

.main-products-loader {
    margin: 24px 24px;
}

.total-text {
    margin: $space-l 0;
}