@import "styles/styles.scss";

.product-container {
  @include column-flex;
  width: 90%;
  height: 100%;
  margin: auto;
  gap: $space-xl;
}
.product {
  &__back-button-container {
    @include row-flex;
    width: 100%;
    margin-top: 160px;
  }

  &__back-button {
    @include row-flex;
    width: 100px;
    cursor: pointer;
    justify-content: center;
    &_text {
      margin: auto auto;
    }
  }

  &__product-card {
    @include row-flex;
    margin-top: 40px;
    gap: $space-xl;
    width: 100%;

    @media (max-width: 1100px) {
      @include column-flex;
    }
    &_image-container {
      height: min(90vw, 90vh, 600px);
      width: min(90vw, 90vh, 600px);
      margin: auto;
    }
    &_image {
      height: min(90vw, 90vh, 600px);
      width: min(90vw, 90vh, 600px);
    }
  }

  &__product-card-info {
    @include column-flex;
    flex-grow: 1;
    height: 100%;
    gap: $space-xl;
    &_top {
      @include column-flex;
      width: 100%;
      gap: $space-m;
      margin-bottom: $space-xs;
    }

    &_bottom {
      @include column-flex;
      gap: $space-xl;
      margin-top: $space-l;
    }
  }

  &__button-container {
    @include row-flex;
    gap: $space-xl;
  }

  &__related-container {
    @include column-flex;
    gap: $space-m;
    width: 100%;
  }

  &__products-grid {
    width: 100%;
    margin-top: $space-xl;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
    column-gap: 30px;
    row-gap: 30px;
    &_grid-item {
      display: flex;
    }
  }
  &__products-loader {
    margin: 24px 24px;
  }
}

:global(.infinite-scroll-component__outerdiv) {
  width: 100%;
}
