@import "styles/styles.scss";

.header {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  height: 90px;
  border-radius: $border-radius;
  border-bottom: 2px solid $line-color;
  background: $screen-color;
  width: 100%;
}

.header__usable-area {
  display: flex;
  height: 100%;
  width: 90%;
  margin: 0 auto;
}

.header__logo {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: $space-xs;
}

.header__links-container {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  @media (max-width: 768px) {
    display: none;
  }
  &-mobile {
    width: 100%;
    display: none;
    @media (max-width: 768px) {
      margin-top: 2px;
      padding-top: 20px;
      padding-bottom: 20px;
      background-color: white;
      display: flex;
    }
  }
}

.mobile-fullwidth {
  @media (max-width: 768px) {
    display: flex;
    width: 100%;
  }
}

.header__link-container {
  height: 100%;
}

.header__links {
  height: 100%;
  display: inline-flex;
  align-items: flex-start;
  gap: $space-xl;
  @media (max-width: 768px) {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
  }
}

.header__link {
  color: $text-primary;
  display: flex;
  height: 100%;
  align-items: center;
  box-sizing: content-box;
  @media (max-width: 768px) {
    width: 100%;
    justify-content: center;
  }
  &-active {
    color: $text-accent;
    border-bottom: 2px solid $main-color;
  }

  &:hover:not(.header-link-active) {
    color: $text-secondary;
  }
}

.header__toggle-mobile {
  display: none;
  user-select: none;
  @media (max-width: 768px) {
    display: flex;
  }
}

.header__additional {
  height: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: $space-xl;
}
