@import "styles/styles.scss";

.checkbox-container {
  width: 40px;
  height: 40px;
  box-sizing: border-box;
  background-color: $checkbox-bg;

  &__input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  &.checkbox-container_disabled {
    background-color: $checkbox-bg-disabled;
  }

  &__checkmark {
    width: 40px;
    height: 40px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &:not(.checkbox-container_disabled):hover {
    border-radius: $border-radius;
    border: 1px solid $checkbox-border-hover;
    background: $checkbox-bg-hover;
  }
}
