@import "styles/styles.scss";

.icon-primary {
  stroke: $text-primary;
}

.icon-accent {
  stroke: $text-accent;
}

.icon-secondary {
  stroke: $text-secondary;
}

.icon-black {
  stroke: $text-color;
}
